.tree{
  position: absolute;
  bottom:0;
  right: 0;
  width: 204px;
  height: 426px;
  background-image: url('images/tree-trasnparent.png');
  transform-origin: bottom center;

  &.shake{
    animation-name: tree-shake;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  }
}

@keyframes tree-shake {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-1deg);
  }
  75%{
    transform: rotate(1deg)
  }
  100%{
    transform: rotate(0);
  }}